<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>SignLoginTest</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
    <div class="login">
      <label>Login</label><br>
      <label>Username: <input type="text" id="loginUserName"></label><br>
      <label>Password: <input type="text" id="loginPassword"></label><br>
    </div>
 
    <button id="login">Login</button><br>

     <div class="sign">
      <label>Signup</label><br>
      <label>Username: <input type="text" id="signupUserName"></label><br>
      <label>Password: <input type="text" id="signupPassword"></label><br>
      <button id="signup">Signup</button><br>
    </div>

    <p id="output">output </p>

    <script type="module" src="/static/login.js"></script>
    <script type="module" src="/static/signup.js"></script>
</body>
</html>